@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400i');

body {
  position: relative;
  height: 100%;
  padding-top: 150px;
}

.title {
  font-family: 'Droid Serif', serif;
  font-size: 60pt;
  font-style: italic;
  color: #fff;
}

.header {
  text-align: center;
  border-bottom: 1px solid #00181f;
  padding-bottom: 150px;
}

.icon {
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-default .navbar-nav > .active > a {
  border-bottom: 3px solid #f1c40f;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #062d36;
  border-bottom: 3px solid #05242b;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #042026;
  text-align: center;
  min-height:50px;
}
.float-my-children > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
